{% extends 'base.html' %} {% load static %} {% block content %}

<div id="homepage" class="pt-4">
  <!-- Tutorial Section -->
  <div class="card bg-white shadow rounded py-3">
    

    <!-- File check section -->
    <section class="file-section">
      <h3 class="text-center mt-5 mb-3">
        Check your transactions here
      </h3>
      <form
        action=""
        class="transaction-form"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} 
        <div class="mb-3 mt-3">
          <div class="text-center"><label for="id_file_name" class="form-label">Upload your transactions file</label></div>
          <input class="form-control" type="file" name="file_name" required="" id="id_file_name">
        </div>
        <!-- <div class="file-input-container">
          Choose Your File
          {{ form.as_p }}
        </div> -->
        <!-- <br> -->
        <div class="mb-3">
          <button class="btn btn-outline-primary" type="submit">Check Transactions and Download the Report</button>
        </div>
      </form>
    </section>

    <section class="tutorial-section m-5">
      <div class="tutorial">
        <h2 class="d-flex justify-content-center">How it works</h2>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ZCEozcUj1DI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
      </div>
    </section>
  </div>

</div>

{% endblock content %}
